[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200
via_ir = false

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[rpc_endpoints]
rootstock_testnet = "https://public-node.testnet.rsk.co"
rootstock_mainnet = "https://public-node.rsk.co"
